
.chooseDetailsSection .chooseFirstThreeDetails {
    flex: 1; /* Make this section take up equal horizontal space */
}


.chooseContainer {
    margin-top: 50px;
}

.chooseContainer .chooseHeader {
    background-color: green;
}

.chooseImgDetails img {
    min-height: 400px;
    width: 100%; /* Ensure the image takes up the full width of its container */
}

.chooseDetailsSection {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
}

.chooseDetailsSection hr {
    width: 50%;
    margin: 0 auto;
}

.chooseDetailOne,
.chooseDetailTwo,
.chooseDetailThree,
.chooseDetailFour,
.chooseDetailFive,
.chooseDetailSix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    /* Apply these styles only on screens with a max-width of 768px (typical mobile screens) */
    .chooseDetailsSection {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the start (left) on small screens */
    }

    .chooseDetailsSection .chooseFirstThreeDetails,
    .chooseDetailsSection .chooseSecondThreeDetails {
        flex: none;
        width: 100%;
    }

    .chooseContainer .chooseImgDetails {
        order: -1; /* Move the image section to the top on small screens */
    }
}
