.dealContainer{
    margin-top: 70px;
    padding:5px 5px;
    height:100%;
}
.dealTime h3{
    font-size: 40px;
    margin-left: 5px;
}

.border{
    max-height: 100px;
    padding: 2px;
    margin-right: 1px;
    border-radius: 1px;
}
.dealDetailsContainer{
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.item1,.item2,.item3,.item4{
    padding:25px;
    min-width:400px;
    box-shadow: 5px 1px 10px rgba(155, 19, 19, 0.3);
    display: flex;
    flex-direction: column;
    line-height: 40px;;
    align-items: center;
    justify-content: center;
}
.item1 button,.item2 button,.item3 button,.item4 button{
    display: block;
    margin: 15px auto;
    transition: 0.3s ease-out;
    padding:2px 15px;
    border-radius: 5px;
    border-bottom:5px solid gray;
}
.item1 img,.item2 img,.item3 img,.item4 img{
    margin:0 auto;
    
} 
.item1 button:hover,.item2 button:hover,.item3 button:hover,.item4 button:hover{
    background-color:rgb(66, 27, 27);
    color:white;
    
}