.navbarContainer {
    
    
}

.navbar {
    z-index: 15;
    position: sticky;
    top: 0;
    width: 100%;
    /* padding:0 50px; */
}

.nav {
    border: 1px solid #F85559;
    background-color: #F85559;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}